<div class="center-cols" style="gap: 12px">
  <h1>Login</h1>
  <div class="center-cols" style="gap: 8px">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" />
      <mat-error>Email is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" />
      <mat-error>Password is required</mat-error>
    </mat-form-field>
  </div>
  <div class="end-row" #dialogButtons>
    <button mat-raised-button color="primary">Login</button>
  </div>
</div>
