<app-dialog-wrapper [title]="'Login'" (close)="close()">
  <div class="center-cols container" style="gap: 12px; width: 400px">
    <div class="center-cols" style="gap: 8px">
      <mat-form-field appearance="outline" style="width: 350px">
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Email"
          type="email"
          [formControl]="emailFc()"
        />
        <mat-error>Email is required</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 350px">
        <mat-label>Password</mat-label>
        <input
          matInput
          placeholder="Password"
          type="password"
          [formControl]="passwordFc()"
        />
        <mat-error>Password is required</mat-error>
      </mat-form-field>
    </div>
    <div class="end-row" #dialogButtons>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
  </div>
</app-dialog-wrapper>
