.container {
  padding: 12px;
  overflow: hidden;
  gap: 12px;
  width: 400px;
}

@media (max-width: 768px) {
  .container {
    width: 65vw;
  }
}

.center-cols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.end-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

h1 {
  margin: 0;
}
