.container {
  padding: 16px;
  color: whitesmoke;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0 0 8px 8px;
}

h4 {
  margin: 0;
  color: black;
}

.form-header {
  padding: 4px 4px 4px 16px;
  background-color: rgb(240, 240, 240);
  border-radius: 8px 8px 0 0;
  p {
    margin: 0;
    color: rgb(129, 129, 129);
    font-size: 1rem;
    font-weight: 500;
  }
}
