<div
  style="
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 16px;
  "
>
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 16px;
    "
  >
    <mat-form-field appearance="outline" class="title">
      <mat-label>Title</mat-label>
      <input matInput type="text" name="title" [formControl]="titleFc" />
      <mat-error>Insert a valid title</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="amount">
      <mat-label>Amount</mat-label>
      <input matInput type="number" name="amount" [formControl]="amountFc" />
      <mat-error>Insert a valid amount</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" class="date">
      <mat-label>Action date</mat-label>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <input matInput [matDatepicker]="picker" [formControl]="dateFc" />
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div
    style="
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: 16px;
    "
  >
    <mat-form-field appearance="outline" class="description">
      <mat-label>Description</mat-label>
      <textarea matInput rows="3" [formControl]="descriptionFc"></textarea>
    </mat-form-field>
  </div>
  <div class="end-row" #dialogButtons>
    <button
      mat-raised-button
      color="primary"
      [disabled]="fg.invalid"
      (click)="save()"
    >
      {{ data?.entryId ? "Save" : "Add" }}
    </button>
  </div>
</div>
