@import "../../../../styles/variables.scss";

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.spacer {
  flex: 1 1 auto;
}

.user-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: $secondary;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.user-info {
  display: flex;
  align-items: center;

  span {
    margin-right: 8px;
  }

  mat-icon {
    font-size: 24px;
  }
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-name {
  text-align: center;
  font-size: 1.25rem;
  font-weight: bold;
}
