<app-form-container
  [title]="'Wallet Detail'"
  [hideSave]="false"
  (save)="save.emit()"
>
  <div
    style="
      display: flex;
      flex-direction: row;
      gap: 12px;
      align-items: center;
      justify-content: space-between;
    "
  >
    <mat-form-field appearance="outline" style="width: 300px">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="nameFc" />
    </mat-form-field>

    <div style="display: flex; flex-flow: row nowrap; gap: 16px">
      <p style="color: black; font-weight: 600">Balance:</p>
      <app-colored-currency-input [value]="balance" />
    </div>
  </div>
  <div
    style="display: flex; flex-direction: row; gap: 32px; align-items: center"
  >
    <mat-form-field
      appearance="outline"
      subscriptSizing="dynamic"
      style="width: 500px"
    >
      <mat-label>Description</mat-label>
      <textarea matInput rows="3" [formControl]="descriptionFc"></textarea>
    </mat-form-field>
    <div style="display: grid; grid-template-columns: auto auto; gap: 15px">
      <h4>Header text color</h4>
      <input
        style="width: 30px; height: 30px; cursor: pointer"
        matInput
        [colorPicker]="headerColorFc.value"
        (colorPickerChange)="patchHeaderColor($event)"
        [style.background]="headerColorFc.value"
        readonly
      />

      <h4>Header background color</h4>
      <input
        matInput
        style="width: 30px; height: 30px; cursor: pointer"
        [colorPicker]="headerBackgroundColorFc.value"
        (colorPickerChange)="patchHeaderBackgroundColor($event)"
        [style.background]="headerBackgroundColorFc.value"
        readonly
      />
    </div>
  </div>
</app-form-container>
